/* Fonts 
font-family: 'Lora', serif;
font-family: 'Poppins', sans-serif;

*/

:root {
  --spacer: 3rem;
  --box-shadow: 0.3rem 0.3rem 1.5rem rgb(0, 0, 0, 0.15);
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.5;
}

h1,
h2,
h3,
p,
figure {
  margin: 0;
  padding: 0;
}

/* Utilities */
ul[class],
ol[class] {
  padding: 0;
  margin: 0;
  list-style: none;
}

.flow-content > * + * {
  margin-top: var(--flow-spacer, var(--spacer));
}
/* Start Here */


.page-logo{
  position: absolute;
  padding-top: 1.5rem;
  padding-left: 120px;
  font-size: 2.6rem;
  font-family: 'Poppins', sans-serif;
  color: #3D2892;
}

ul{
  position: absolute;
  padding-top: 1.5rem;
  font-family: 'Poppins', sans-serif;
  list-style: none;
  display: flex;
  flex-direction: row;
  color: #24126A;
  font-size: 1.8rem;
  padding-left: 850px;
}

li{
  position: relative;
  padding-right: 4rem;
}

.sign-up{
  position: relative;
  color: #24126A;
  text-decoration: none;
  padding-right: 2rem;
  z-index: 4;
}

.pumpkin{
  position: absolute;
  padding-top: 200px;
  padding-left: 900px;
  z-index: 1;
}

.main-title{
  text-transform: uppercase;
  position: absolute;
  color: #F55D3A;
  font-family: 'Poppins', sans-serif;
  font-size: 6.4rem;
  padding-top: 200px;
  padding-left: 150px;
}

t{
  color: #F55D3A;
}

.message{
  font-family: 'Lora', serif;
  color: #4A4A4A;
  font-size: 3.2rem;
  padding-top: 300px;
  padding-left: 150px;
  font-weight: lighter;
}

button{
  position: absolute;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  width: 105px;
  height: 45px;
  top: 50px;
  left: 150px;
  cursor: pointer;
  border: hidden;
  border-radius: 5px;
  outline: none;
  color: #FFFAFB;

  background-color: #24126A; 
  box-shadow: 0 0 40px #4A4A4A; 
}

.stories{
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-size: 3.2rem;
  color: #24126A;
  text-align: center;

  padding-top: 140px;
  text-shadow: 0 0 10px #4A4A4A;
  
}

.paramdam{
  position: absolute;
  top: 430px;
  left: 250px;
}

.paramdam__story-title{
  position: absolute;
  text-shadow: none;
  font-size: 3.2rem;
  top: 430px;
  left: 600px;
}

.paramdam__story{
  text-align: left;
  position: absolute;
  font-family: 'Lora', serif;
  text-shadow: none;
  color: #4A4A4A;
  font-size: 1.8rem;
  left: 600px;
  top: 500px;
  right: 200px;
}

.paramdam__read-more{
  position: absolute;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: #F55D3A;
  text-shadow: 0 0 10px #F55D3A;
  font-size: 1.8rem;
  left: 600px;
  top: 725px;
  font-weight: bold;
}

.senyales{
  position: absolute;
  top: 1000px;
  right: 250px;
}

.senyales__story-title{
  position: absolute;
  text-shadow: none;
  font-size: 3.2rem;
  top: 990px;
  left: 250px;
}

.senyales__story{
  text-align: left;
  position: absolute;
  font-family: 'Lora', serif;
  text-shadow: none;
  color: #4A4A4A;
  font-size: 1.8rem;
  left: 250px;
  top: 1050px;
  right: 600px;
}

.senyales__read-more{
  position: absolute;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: #F55D3A;
  text-shadow: 0 0 10px #F55D3A;
  font-size: 1.8rem;
  left: 250px;
  top: 1300px;
  font-weight: bold;
}

.authors-container{
  display: grid;
  min-height: 90vh;
  place-content: center;
}

.authors-top{
  width: 100%;
  position: absolute;
  font-family: 'Poppins', sans-serif;
  top: 1850px;
  text-align: center;
  font-size: 3.2rem;
  color: #24126A;
  z-index: 4;
}

.authors__wrapper{
  position: relative;
  top: 1200px;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 90vw;
}

.authors__wrapper__card{
  top: 100px;
  min-width: 25rem;
  padding: 1rem;
}

.author-profile{
  position: relative;
  display: block;
     width: 60%;
     margin: auto;
}

.author-name{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 2.8rem;
  color: #F55D3A;
}

.author-description{
  font-family: 'Lora', serif;
  text-align: center;
  font-size: 1.8rem;
  color: #4A4A4A;
}

.waved-footer{
  position: absolute;
  z-index: -1;
  top: 2300px;
  bottom: 0;
  width: 100%;
}

.footer-title{
  position: absolute;
  color: #F55D3A;
  font-family: 'Poppins', sans-serif;
  font-size: 6.4rem;
  top: 2520px;
  left: 150px;
  z-index: 2;
}

.email-input{
  position: absolute;
  top: 2550px;
  right: 240px;
  z-index: 3;
  width: 300px;
  height: 30px;
  outline: none;
  border-style: hidden;
  background: #FFFAFB;
}

.submit-button{
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  position: absolute;
  top: 2550px;
  right: 130px;
  width: 90px;
  height: 30px;
  background-color: #3D2892;
  color: #FFFAFB;
  border-radius: 5px;
  border-style: hidden;
  z-index: 3;
}

.footer-cpyrght{
  position: relative;
  text-align: center;
  top: 1500px;
  z-index: 1;
  font-size: 1.8rem;
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  color: #FFFAFB;
}